.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;

  .month-nav {
    display: flex;
    gap: 0.25rem;
  }
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;

  .day {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5rem;
    min-height: 90px;
    position: relative;

    .date {
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .add-btn {
        width: 24px;
        height: 24px;
        padding: 0;
      }
    }

    .post {
      font-size: 0.75rem;
      color: #1976d2;
      margin-top: 4px;
      display: block;
      border-radius: 5px;
      padding: 5px;
      font-size: 12px;
      &.completed {
        color: green;
        background-color: rgba(1, 167, 1, 0.473);
      }
      &.scheduled {
        color: rgb(141, 139, 0);
        background-color: rgba(209, 206, 1, 0.514);
      }
      &.draft {
        color: rgb(131, 0, 0);
        background-color: rgba(167, 1, 1, 0.473);
      }
    }
  }
}

.post-calendar-title {
  margin-left: 20px;
  color: #333;
}
mat-card {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
}
