<nav class="site-nav" role="navigation" aria-label="Main navigation">
  <div class="nav-container">
    <a class="brand" routerLink="/">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/gogo-8631a.appspot.com/o/logo-postigo.png?alt=media&token=434387c5-96d5-47a2-9cf1-88055f7b480a"
        alt="logo"
        class="brand-logo"
      />
      <span class="brand-name">Postigo</span>
    </a>

    <div class="nav-right">
      <a [href]="baseUrl + '/signin'" class="btn btn-ghost">Sign in</a>
      <a [href]="baseUrl + '/signin'" class="btn btn-primary">Sign up</a>
    </div>
  </div>
</nav>
