.dashboard-container {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
