<div class="signin-container">
  <div class="signin-card">
    <button class="back-btn" type="button" (click)="goBack()" aria-label="Go back">← Back</button>
    <h2>Sign Up <i class="fa-solid fa-door-open"></i></h2>
    <form>
      <div class="form-group">
        <input type="name" placeholder="First Name" />
      </div>
      <div class="form-group">
        <input type="name" placeholder="Last Name" />
      </div>
      <div class="form-group">
        <input type="email" placeholder="Email" />
      </div>
      <div class="form-group password-group">
        <input type="{{ isPasswordVisible ? 'text' : 'password' }}" placeholder="Password" />
        <button type="button" (click)="togglePasswordVisibility()" class="toggle-password">
          @if(isPasswordVisible) {
          <i class="fa-solid fa-eye"></i>
          }@else {
          <i class="fa-solid fa-eye-slash"></i>
          }
        </button>
      </div>
      <div class="form-group password-group">
        <input
          type="{{ isPasswordVisible ? 'text' : 'password' }}"
          placeholder="Confirm Password"
        />
        <button type="button" (click)="togglePasswordVisibility()" class="toggle-password">
          @if(isPasswordVisible) {
          <i class="fa-solid fa-eye"></i>
          }@else {
          <i class="fa-solid fa-eye-slash"></i>
          }
        </button>
      </div>
      <div class="form-remember">
        <input type="checkbox" id="remember" />
        <label for="remember">Remember me</label>
      </div>
      <button type="submit" class="signin-btn">Sign Up</button>
      <a routerLink="/signin" class="forgot" style="cursor: pointer">Already Have An Account?</a>
    </form>
  </div>
</div>
