.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f8fbff; // light blue background
}

.signin-card {
  background: #fff;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
  width: 380px;
  text-align: center;

  h2 {
    color: #1a1f36;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
  }

  form {
    .form-group {
      position: relative;
      margin-bottom: 20px;

      input {
        width: 100%;
        padding: 12px 15px;
        border: 1px solid #dcdfe6;
        border-radius: 10px;
        font-size: 15px;
        color: #333;
        outline: none;
        transition: all 0.2s;

        &:focus {
          border-color: #4b7bec;
        }
      }

      &.password-group {
        input {
          padding: 12px 15px;
        }

        .toggle-password {
          position: absolute;
          right: 0px;
          top: 50%;
          transform: translateY(-50%);
          background: none;
          border: none;
          color: #888;
          cursor: pointer;
        }
      }
    }

    .form-remember {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 25px;

      input {
        margin-right: 8px;
        width: 18px;
        height: 18px;
      }

      label {
        color: #444;
        font-size: 14px;
      }
    }

    .signin-btn {
      background-image: linear-gradient(to right, #4777e6d5 20%, #8d54e9ab 51%);
      color: #fff;
      border: none;
      border-radius: 10px;
      width: 100%;
      padding: 12px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s;
      box-shadow: 0 0 20px #eee;

      &:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
    }

    .forgot {
      display: block;
      margin-top: 20px;
      color: #1a1f36;
      font-size: 14px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.back-btn {
  margin-left: -200px;
  position: absolute;
  gap: 8px;
  background: transparent;
  border: 1px solid rgba(11, 27, 58, 0.06);
  padding: 0.45rem 0.7rem;
  border-radius: 8px;
  color: #071233;
  font-weight: 600;
  cursor: pointer;
  transition: transform 140ms ease, box-shadow 140ms ease;
}

.back-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(11, 27, 58, 0.06);
}
.error-message {
  background-color: rgba(255, 130, 130, 0.623);
  color: rgb(255, 0, 0);
  padding: 20px 15px;
  border-radius: 5px;
  font-weight: 500;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
