<div class="signin-container">
  <div class="signin-card">
    <button class="back-btn" type="button" (click)="goBack()" aria-label="Go back">← Back</button>
    <h2>Sign Up <i class="fa-solid fa-door-open"></i></h2>
    <form>
      <div class="form-group">
        <input [(ngModel)]="firstname" type="name" placeholder="First Name" />
      </div>
      <div class="form-group">
        <input [(ngModel)]="lastname" type="name" placeholder="Last Name" />
      </div>
      <div class="form-group">
        <input [(ngModel)]="email" type="email" placeholder="Email" />
      </div>
      <div class="form-group password-group">
        <input
          [(ngModel)]="password"
          type="{{ isPasswordVisible ? 'text' : 'password' }}"
          placeholder="Password"
        />
        <button type="button" (click)="togglePasswordVisibility()" class="toggle-password">
          @if(isPasswordVisible) {
          <i class="fa-solid fa-eye"></i>
          }@else {
          <i class="fa-solid fa-eye-slash"></i>
          }
        </button>
      </div>
      <div class="form-group password-group">
        <input
          [(ngModel)]="confirmpassword"
          type="{{ isConfirmPasswordVisible ? 'text' : 'password' }}"
          placeholder="Confirm Password"
        />
        <button type="button" (click)="toggleConfirmPasswordVisibility()" class="toggle-password">
          @if(isConfirmPasswordVisible) {
          <i class="fa-solid fa-eye"></i>
          }@else {
          <i class="fa-solid fa-eye-slash"></i>
          }
        </button>
      </div>
      @if(showError) {
      <div class="error-message">
        <p>{{ errormessage }}</p>
      </div>
      }
      <div class="form-remember">
        <input type="checkbox" id="remember" />
        <label for="remember">Remember me</label>
      </div>
      <button (click)="SignUp()" type="submit" class="signin-btn">Sign Up</button>
      <a href="/signin" class="forgot">Already Have An Account?</a>
    </form>
  </div>
</div>
