<div class="signin-container">
  <div class="signin-card">
    <button class="back-btn" type="button" (click)="goBack()" aria-label="Go back">← Back</button>
    <h2>Sign In <i class="fa-solid fa-door-open"></i></h2>
    <form>
      <div class="form-group">
        <input [(ngModel)]="email" type="email" placeholder="Email" autocomplete="new-email" />
      </div>
      <div class="form-group password-group">
        <input
          [(ngModel)]="password"
          type="{{ isPasswordVisible ? 'text' : 'password' }}"
          placeholder="Password"
          autocomplete="new-password"
        />
        <button type="button" (click)="togglePasswordVisibility()" class="toggle-password">
          @if(isPasswordVisible) {
          <i class="fa-solid fa-eye"></i>
          }@else {
          <i class="fa-solid fa-eye-slash"></i>
          }
        </button>
      </div>
      @if(showError) {
      <div class="error-message">
        <p>{{ errormessage }}</p>
      </div>
      }
      <div class="form-remember">
        <input type="checkbox" id="remember" />
        <label for="remember">Remember me</label>
      </div>
      <button type="submit" (click)="submitForm()" class="signin-btn">Sign In</button>
      <a href="/signup" class="forgot">Create new account?</a>
      <a href="#" class="forgot">Forgot password?</a>
    </form>
  </div>
</div>
