.members-activity-card {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
}
.members-activity-title {
  margin-left: 20px;
  color: #333;
}
.mat-card-content {
  background-color: white;
}
table {
  background-color: white;
}
