.features {
  text-align: center;
  padding: 80px 10%;
  h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
  }

  .feature-card {
    background: #fff;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

    /* gradient-colored mat-icon */
    mat-icon {
      font-size: 40px;
      margin-bottom: 10px;
      padding: 20px;
      display: inline-block;
      background: linear-gradient(135deg, #6f7dff 0%, #9d9dff 50%, #ff9db1 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent; /* for WebKit */
      color: transparent; /* fallback */
    }

    h3 {
      font-size: 18px;
      margin-bottom: 8px;
    }
    p {
      color: #555;
    }
  }
}
