.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  height: auto; /* let content control height */
  flex-wrap: wrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 20px; /* add padding inside container */
}

.date-range-row.platforms-row {
  display: flex;
  flex-direction: column; /* stack subtitle above dropdown */
  align-items: flex-start;
  margin-right: 20px;
}

.fillter-sub-title {
  margin: 0 0 6px 2px; /* small gap below title */
  font-size: 14px;
  font-weight: 600;
  color: #555;
}

.fillter-dropdown {
  position: relative;
  width: 400px;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  color: #0f1828;
  font-weight: 600;
}

.dropdown-spacer {
  flex: 1;
}

.arrow {
  font-size: 12px;
  color: #666;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* show below the box */
  left: 0;
  width: 100%;
  margin-top: 4px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  color: #0f1828;
}

.dropdown-item:hover {
  background: #f5f5f5;
}

.platforms,
.actions {
  display: flex;
  gap: 10px;
  margin-top: 10px; /* spacing when stacked on small screens */
}
.platforms {
  display: flex;
  gap: 10px;
}

.platform-button {
  display: flex !important; /* make button a flex container */
  align-items: center !important; /* vertical center */
  justify-content: center; /* horizontal center if needed */
  gap: 6px; /* space between icon and text */
  font-size: 14px; /* adjust text size */
  padding: 10px 16px; /* adjust padding for better fit */
  outline: none;
  border-style: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-weight: 400;
}

.platform-button mat-icon {
  font-size: 18px; /* smaller icon for better alignment */
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0f1828;
}
