<div class="filters">
  <!-- Date Range -->
  <div class="date-range-row">
    <p class="fillter-sub-title">Date Range</p>
    <div class="fillter-dropdown">
      <div class="dropdown" (click)="toggleDropdown()">
        <span>{{ selectedDate }}</span>
        <span class="dropdown-spacer"></span>
        @if(!isOpen) {
        <span class="arrow">▼</span>
        } @if(isOpen) {
        <span class="arrow">▲</span>
        }
      </div>

      <!-- Dropdown Menu -->
      <div class="dropdown-menu" *ngIf="isOpen">
        @for (item of Dates; track $index) {
        <div class="dropdown-item" (click)="selectDate(item)">
          <span>{{ item }}</span>
        </div>
        }
      </div>
    </div>
  </div>

  <!-- Platforms -->
  <div class="platforms-row">
    <p class="fillter-sub-title">Platforms</p>
    <div class="platforms">
      <button class="platform-button" mat-stroked-button color="primary">
        <i class="fa-brands fa-instagram"></i> Instagram
      </button>
      <button class="platform-button" mat-stroked-button>
        <i class="fa-brands fa-facebook-f"></i> Facebook
      </button>
      <button class="platform-button" mat-stroked-button>
        <i class="fa-brands fa-linkedin-in"></i>LinkedIn
      </button>
      <button class="platform-button" mat-stroked-button>
        <i class="fa-solid fa-xmark"></i>Twitter
      </button>
    </div>
  </div>

  <!-- Actions -->
  <div class="actions">
    <button class="platform-button" mat-stroked-button>
      <mat-icon>filter_list</mat-icon>
      Advanced
    </button>
    <button
      style="background-color: #0f1828; color: white"
      class="platform-button"
      mat-raised-button
      color="accent"
    >
      <mat-icon style="color: white">download</mat-icon>
      Export
    </button>
  </div>
</div>
