<div class="filters">
  <div class="date-range-row">
    <p class="fillter-sub-title">Date Range</p>
    <div class="date-range">
      <mat-icon class="calendar-icon">calendar_today</mat-icon>
      <select class="date-range-select" aria-label="Select Date Range">
        <option value="last7">Last 7 Days</option>
        <option value="last30">Last 30 Days</option>
        <option value="last60">Last 60 Days</option>
        <option value="lastYear">Last 365 Days</option>
      </select>
    </div>
  </div>

  <div class="platforms">
    <button mat-stroked-button color="primary">Instagram</button>
    <button mat-stroked-button>Facebook</button>
    <button mat-stroked-button>LinkedIn</button>
  </div>

  <div class="actions">
    <button mat-stroked-button>Advanced</button>
    <button mat-raised-button color="accent">Export</button>
  </div>
</div>
